@import url('https://fonts.google.com/share?selection.family=Nunito:ital,wght@0,200..1000;1,200..1000');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}


body,
html {
    overflow-x: hidden;
}

.btn a {
    padding-top: 120%;
}

.btn {
    padding: 13px 25px;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    transition: 1s;
    background-color: rgb(237, 237, 237, .1);
    backdrop-filter: blur(10px);
}



/* ============Navigation Bar============= */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 17px;
    font-weight: 700;
    /* color: rgb(12, 138, 211); */
    color: black;
    margin: .5rem;
    display: inline;
}

.nav-item a {
    font-size: 17px;
    color: black;
    margin: 10px;
}

/* ============Navigation bar End============= */


/* ============Hero Section============= */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden;     */
}

.Home-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* ============Hero Section End============= */

/* ============About Section ============= */

.about-section {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.about-heading {
    font-weight: 500px;
    margin-bottom: 30px;
}

.about-content {
    margin-bottom: 30px;
}

.about-image {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* ============About Section End ============= */

/* ============Focus Section ============= */
.Focus-header h2 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.slider-item {
    position: relative;
    text-align: center;
    color: #fff;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background for text */
    padding: 20px;
    text-align: center;
}

.slider-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.slider-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.slider-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-button:hover {
    background-color: #0056b3;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .slider-text {
        bottom: 0;
        padding: 10px;
    }

    .slider-text h2 {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .slider-text p {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .slider-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

/* ============Focus Section End============= */

/* ============Home Automation Solution Section ============= */
.product-card {
    margin-bottom: 30px;
    max-width: 100%;
    height: 480px;
}

.product-card img {
    max-width: 100%;
    height: 280px;
}

.slider-button {
    height: 50px;
    width: auto;
    margin-top: 5px;
}

/* ============Home Automation Solution Section end============= */

/* ============footer Section ============= */

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ============footer Section End============= */